.App {
  min-height: 100vh;
  padding-inline: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: var(--bg-color);
  color: white;
  font-family: 'Kumbh Sans';
  overflow: hidden;
}

aside {
  min-width: 380px;
  max-width: 40vw;
  position: relative;
  user-select: none;
  pointer-events: none
}

aside h1 {
  position: relative;
  z-index: 1;
  font-size: clamp(36px, 4vw, 62px);
  text-shadow: var(--text-shadow);
  opacity: 0;
  animation: moveIn 2s ease .5s forwards;
}

aside p {
  margin-block: 40px;
  position: relative;
  z-index: 1;
  font-size: clamp(16px, 1.75vw, 22px);
  text-shadow: var(--text-shadow);
  opacity: 0;
  animation: moveIn 2s ease .7s forwards;
}

.ParallaxChild {
  position: absolute;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.ParallaxChild img {
  height: 100%;
}

.ParallaxContainer .ethereum {
  left: calc(50% - 270px);
  opacity: 0;
  animation-delay: 1s;
}

.ParallaxContainer .sphere1 {
  height: 100px;
  z-index: 2;
  top: 15%;
  left: 12.5%;
  animation-delay: .6s;
}

.ParallaxContainer .sphere2 {
  height: 75px;
  bottom: 7.5%;
  right: 10%;
  animation-delay: .4s;
}

.ParallaxContainer .sphere3 {
  height: 60px;
  top: 5%;
  right: 22.5%;
  animation-delay: .2s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  opacity: 0;
  animation: moveIn 1s ease .3s forwards;
}

h2 {
  margin-bottom: 10px;
  font-size: clamp(24px, 3vw, 32px);
  animation: moveIn 1.5s ease .2s forwards;
}

form {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: left;
  font-family: 'Poppins';
}

.FormGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

label {
  margin-left: 6px;
  display: block;
  color: var(--text-color);
  font-size: 15px;
}

input {
  width: 100%;
  margin-top: 6px;
  padding: 8px 16px;
  background-color: hsl(224, 31%, 20%);
  color: white;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-size: 14px;
  font-family: 'Poppins';
  transition: all .3s, transform .2s;
}

input:not(:focus):hover:valid,
input:not(:focus):valid {
  border-color: var(--valid);
}

input:not(:placeholder-shown):not(:focus):hover:invalid,
input:not(:focus):invalid {
  border-color: var(--invalid);
}

input:not(:focus):placeholder-shown {
  border-color: transparent;
}

input:focus {
  background-color: hsl(224, 31%, 30%);
  border-color: transparent;
}

input:not(:focus):hover {
  background-color: hsl(224, 31%, 22.5%);
  border-color: transparent;
}

button[type="submit"] {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(to right, #765da0, #503f6d);
  color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-size: 16px;
  font-weight: 500;
  font-family: 'Kumbh Sans';
  cursor: pointer;
  transition: transform .2s, box-shadow .5s;
}

button svg {
  transition: transform .3s;
}

button:hover,
button:focus {
  transform: scale(1.05);
  box-shadow: 0 8px 14px rgba(174, 137, 236, 0.175);
}

button:hover svg,
button:focus svg {
  transform: translateX(3px);
}

input:active,
button:active {
  transform: scale(0.95);
}

p {
  font-size: 15px;
}

.link {
  display: inline-block;
  color: var(--link);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .App {
    flex-direction: column;
  }

  aside {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .ParallaxContainer {
    top: 50% !important;
    left: 0% !important;
  }

  h2 {
    text-shadow: var(--text-shadow);
  }
}

@media screen and (max-width: 500px) {
  .App {
    padding: 30px 25px;
  }

  .ParallaxContainer .sphere1 {
    z-index: 0;
  }

  h2 {
    margin: 0;
  }

  .FormGrid {
    gap: 8px;
  }

  .FormGrid .Input:nth-child(3),
  .FormGrid .Input:nth-child(4) {
    grid-column: 1 / 3;
  }
}
